.red{
   color: red;
}
.green{
   color: green;
}

.hidden{
    visibility: hidden;
}

input.ng-invalid.ng-touched{
   border: 1px solid red;
}

.small{
   font-size: 14px;
   color: red;
   font-weight: bold;
}