<p>
  Your number is :
  <span *ngIf="num > 3; else otherSpan" style="color: green">{{ num }}</span>
  <ng-template #otherSpan>
    <span style="color: red">{{ num }}</span>
  </ng-template>
</p>
<p>
  Your number is :
  <span [style.color]="num <= 3 ? 'red' : 'green'"> {{ num }} </span>
</p>

<p>
  Your number is :
  <span [class]="num <= 3 ? 'red' : 'green'"> {{ num }} </span>
</p>
<p>
  Your number is :
  <span [class.hidden]="num > 3"> {{ num }} </span>
</p>

<p
  [ngStyle]="{
    'background-color': num > 3 ? 'green' : 'red',
    visibility: num > 5 ? 'hidden' : null
  }"
>
  This is a ngStyle paragraph
</p>

@if(num > 3){
<p>your number is greater than 3</p>
} @else if(num > 1){
<p>your number is greater than 1</p>

} @else {
<p>your number is smaller or equals than 1</p>
}

<button (click)="onIncreaseCount()">click!</button>

<div *ngFor="let product of products; let i = index">
  <p>{{ product.name }} has an index of {{ i }}</p>
  <p>{{ product.price | currency : "EUR" }}</p>
  <hr />
</div>

@for(product of products; track $index){
<p>{{ product.name }} has an index of {{ $index }}</p>
<p>{{ product.price | currency : "EUR" }}</p>
<hr />
}

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  Name: <input formControlName="productName" type="text" />
  <p
    *ngIf="
      nameControl.hasError('required') &&
      (nameControl.touched || nameControl.dirty)
    "
    class="small"
  >
    name is required
  </p>
  <br />
  Price: <input formControlName="productPrice" type="number" name="" id="" />
  <p
    *ngIf="
      priceControl.hasError('required') &&
      (priceControl.touched || priceControl.dirty)
    "
    class="small"
  >
    price is required
  </p>
  <p
    *ngIf="
      priceControl.hasError('min') &&
      (priceControl.touched || priceControl.dirty)
    "
    class="small"
  >
    price must be at least 3
  </p>

  <button [disabled]="!productForm.valid" type="submit">Submit</button>
</form>
